* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  box-sizing: border-box;
  scrollbar-width: none;
}
:root {
  --box-shadow: 0 .2rem 3px #544A48;
  --clr-bg-dark-default: #382D23;
  --clr-bg-dark-medium: #694E3F;
  --clr-bg-dark-light: #A78B68;

  
}

body {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  font-style: normal;
  background: url('./assets/home-bg.png') center fixed;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800 */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  width: 65%;
  font-size: 50px;
  color: var(--clr-bg-dark-default);
  margin: 20vh 0 5vh;
}

h2 {
  margin: 5rem 10rem;
  color: var(--clr-bg-dark-default);
  font-size: 40px;
  font-weight: bolder;
}


button {
  width: 45%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #D2D500;
  cursor: pointer;
  transition: border-color 0.25s;
  height: min-content;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Formulario */
.form {
  display: flex;
  background-color: #f7dbad;
  border-radius: 5rem;
  width: 70%;
  box-shadow: var(--box-shadow);

}

.div-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
}

/* Buttons */
.div-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
  padding: 0 2.5rem;
}

button {
  margin-top: 2rem;
}

.info-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

#address {
  width: 27vw;
}

input {
  display: flex;
  background-color: white;
  padding: .5rem 0;
}

.checkbox {
  width: 100%;
  margin-bottom: 1rem;
}

/* Checkbox */
.checkbox-subtitle {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin: .5rem 0;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-container .perro-pequeño {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('./assets/btn-perro-peq.png');
  object-fit: cover;
  background-size: cover;
}

.checkbox-container .perro-mediano {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('./assets/btn-perro-med.png');
  object-fit: cover;
  background-size: cover;
}

.checkbox-container .perro-grande {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('./assets/btn-perro-grande.png');
  object-fit: cover;
  background-size: cover;
}

h3 {
  margin: 0;
  font-weight: 600;
}

/* Happy Dogs Imagen */
.img-form {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50vw;
}

.happy-dog {
  object-fit: cover;
  width: 100%;
  padding: 0;
}

.letspet-logo {
  width: 85px;
  height: 70px;
}

#search {
  color: #E6DCCE;
  width: 14vw;
  background-color: #F46C0F;
}