.register-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 10rem;
}

.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #F7DBAD;
    width: 35%;
    padding: 2rem 0;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
}

.register-title {
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 10rem 0 3rem;
}

/* Campos registro */
.label-registro {
    font-weight: 500;
}

.campos-registro {
    width: 25rem;
    background-color: #fff;
}

/* Checkbox */
.campo-terminos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.campo-checkbox {
    width: 1rem;
    height: 1rem;
}

.btn-registro {
    width: 25rem;
    background-color: #F46C0F;
    color: white;
}

.img-container {
    display: flex;
    align-self: flex-end;
    align-items: center;
    width: calc(100% / 3);
}

.img-gato {
    margin-left: 3rem;
    width: 80%;
}
